body {
  overflow-x: hidden;
}

.offcanvas {
  width: 50%;
}

.mel {
  margin-left: 50px;
}

.fz {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.justi {
  text-align: justify;
  text-justify: inter-word;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.primar {
  background: #0d28a6;
}

body {
  font-family: Helvetica;
}

#owl-container {
  width: 150%;
  left: -25%;
  position: relative;
}

.item {
  background-color: #f1f3ff;
}
.owl-nav > .owl-prev > span {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
}

.owl-nav > .owl-next > span {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
}

.owl-nav > .owl-prev > span:hover,
.owl-nav > .owl-next > span:hover {
  background-color: #5cb85f;
}

@media screen and (min-width: 992px) {
  .item {
    height: 100%;
  }
}
@media screen and (max-width: 991px) {
  .item {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
